/* ========================================= */
/* GERAL */
/* ========================================= */

body{
    margin: 0%;
    background-color: rgb(0, 0, 0);
}

/* ========================================= */
/* HEADER E NAVEGAÇÃO */
/* ========================================= */

header{
    background-color: rgba(0, 0, 0, 0.926);
    color: white;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 5px solid #FFD700;
}

nav{
    display: flex;
    gap: 20px;
}

nav a{
    color: white;
    text-decoration: none;
    text-align: right;
}

.link a{
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

.link a:hover{
    color: red;
}

/* ========================================= */
/* CARROSSEL */
/* ========================================= */

.container-carrossel{
    width: 800px;
    height: 400px;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
    border: 5px solid #FFD700;
}

.scroller{
    display: flex;
    animation: slide 12s infinite;
}

.slide{
    min-width: 100%;
}

.slide img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}

@keyframes slide{

    0%, 30%{
        transform: translateX(0);
    }

    33%, 63%{
        transform: translateX(-100%);
    }

    66%, 96%{
        transform: translateX(-200%);
    }

    100%{
        transform: translateX(0);
    }
}

/* ========================================= */
/* TÍTULO PLANOS */
/* ========================================= */

.pl{
    text-align: center;
}

/* ========================================= */
/* PLANOS */
/* ========================================= */

.Planos{
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.plano{
    background-color: rgb(255, 255, 255);
    width: 250px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    border: 5px solid #FFD700;
}

.plano ul{
    text-align: left;
}

.plano li{
    margin-bottom: 8px;
}

/* ========================================= */
/* PRODUTOS */
/* ========================================= */

.produtos{
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.produtos img{
    width: 200px;
    height: 200px;
}

.pdr{
    background-color: rgb(255, 255, 255);
    width: 250px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    border: 5px solid #FFD700;
}

/* ========================================= */
/* FOOTER */
/* ========================================= */

footer{
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 25px;
    text-align: left;
    border-top: 5px solid #FFD700;
}

footer .fot{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    flex-direction: column;
}

footer .fot ul li{
    list-style: none;
}
